.herosection {
    display: flex;
    gap: 50px;
    width: 90%;
    height: 480px;
    margin-top: 220px;
    margin-bottom: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
    border-radius: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #b9b7b7 #f4f4f4;
    -ms-overflow-style: none;
    /* For Internet Explorer */
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: transparent transparent;
}

.herosection:hover {
    scrollbar-color: #fde7f3 #f4f4f4;
    /* Change the scrollbar color on hover */
}

.hero_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 10px;
    background-position: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 98%;
    /* margin-left: 15px; */
    padding: 100px;
    /* transition: transform 0.3s ease-in-out; */
}

.hero_info {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    width: 50%;
    align-items: center;
}

.hero_topic {
    opacity: 0.95;
    font-size: 2rem;
    color: rgb(234, 171, 181);
}

.hero_title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 20px;
    max-width: 250px;
}

.hero_subtitle {
    opacity: 0.8;
    font-size: 1.8rem;
}

.hero_btn {
    height: 45px;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: rgb(231, 148, 162);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.hero_btn:hover {
    background-color: #e94e24;
}

@media(max-width: 700px) {
    .herosection {
        flex-direction: column;
        margin-top: 100px;
    }
    .hero_card {
        height: 300px;
        margin-bottom: 20px;
    }
    .hero_info {
        bottom: 10px;
        left: 10px;
        padding: 10px;
    }
    .hero_topic {
        font-size: 1.5rem;
    }
    .hero_title {
        font-size: 2rem;
    }
    .hero_subtitle {
        font-size: 1.2rem;
    }
    .hero_btn {
        width: 120px;
        font-size: 1rem;
    }
}