.Blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 15px;
}

.blog_card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(233, 233, 242); */
    border-radius: 12px;
    gap: 5px;
}

.blog_pic {
    height: 200px;
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.blog_title {
    color: rgb(235, 84, 84);
    margin-left: 10px;
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.Description {
    margin-left: 10px;
    margin-bottom: 10px;
    /* padding-bottom: 15px; */
}

.comment {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    opacity: 0.7;
}