.front {
    border-radius: 20px;
    margin-top: 20px;
    /* background-color: transparent;
     */
    background: none;
    margin-bottom: 200px;
    z-index: 1000;
    /* Ensure this is above other sections */
    position: fixed;
    /* Position fixed so it stays on the page */
    top: 0;
    /* Position at the top of the page */
    left: 0;
    width: 100%;
    /* background-color: white; */
    height: 100%;
    /* Take up the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.subscribe {
    margin-top: 100px;
    display: flex;
    background-size: cover;
    justify-content: space-between;
    height: 400px;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    /* margin-bottom: 20px; */
    background-color: white;
}

.image {
    height: 400px;
    /* width: 50%; */
    align-items: flex-start;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px;
}

.subscribe_info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
     */
    gap: 20px;
    align-items: center;
    width: 250px;
    background-color: white;
    text-align: center;
    margin-top: 50px;
}

.email_input {
    /* border: none; */
    height: 2rem;
    width: 13rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgb(201, 199, 199, 0.5);
    margin-top: 10px;
}

.subscribe_btn {
    height: 2.5rem;
    width: 10rem;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 1.11rem;
    border-radius: 8px;
    margin-top: 10px;
}

.sub_cut {
    height: 35px;
    width: 35px;
    border: none;
    background-color: rgb(249, 176, 190);
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 30px;
}