.men_navbar {
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    margin-top: 14rem;
    background-color: white;
    align-items: center;
    /* display: flex; */
    width: 100%;
    /* box-shadow: 0px 6px 10px rgb(47, 46, 46); */
    /* margin-bottom: 5rem; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* border-radius: 15px; */
    /* padding: 10px; */
    padding-top: 10px;
    /* margin-left: 32rem; */
}

.men_nav_list {
    display: flex;
    font-size: 1rem;
    margin-top: 15px;
    justify-content: center;
    color: rgb(127, 127, 231);
}

.men_nav_name {
    font-size: 1rem;
    font-weight: 600;
}

.men_nav_name:hover {
    text-decoration: underline;
    text-decoration: underline rgb(127, 127, 231);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}