.women_cat {
    margin: 300px;
    height: 190px;
    width: 150px;
    background-color: white;
    padding: 30px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    color: rgb(0, 0, 0, 0.68);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

li {
    padding: 5px;
}