.mainside {
    width: 900px;
}

.sidebar {
    width: 90%;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.side_category {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 0.1);
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
}

.category_name {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.plus_btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.subcategories {
    border: 0.5px solid rgb(246, 228, 231, 0.3);
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 5px;
    justify-content: space-between;
}

.option {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.side_bottom {
    margin-top: 25px;
}

.star_icon {
    color: gold;
}

.card_BestSellers {
    height: 90px;
    width: 250px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    padding-right: 10px;
    background-color: rgb(250, 247, 247, 0.35);
}

.card_link {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.prod_pic {
    height: 60px;
    width: 60px;
    /* border: 1px solid rgba(210, 22, 22, 0.2); */
    align-items: center;
    margin-right: 15px;
}

.prod_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* margin-top: 5px; */
}

.prod_price {
    display: flex;
    gap: 15px;
}

.prod_title {
    color: black;
}

.prod_subtitle {
    opacity: 0.6;
}

@media (max-width: 668px) {
    .side_category {
        display: none;
    }
    .card_BestSellers {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .card_link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .prod_pic {
        height: 40px;
        width: 40px;
        margin-bottom: 5px;
    }
    .prod_info {
        gap: 3px;
    }
    .prod_price {
        gap: 6px;
        font-size: 0.8rem;
    }
    .prod_title {
        font-size: 0.8rem;
    }
}