.extra_men {
    margin-left: 5rem;
    margin-right: 5rem;
    /* height: 400px; */
    /* border: 0.5px solid red; */
    margin-bottom: 50px;
    margin-top: 50px;
}

.whole_card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.extra_men_card {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* padding: 10px; */
    border: 1px solid rgb(231, 187, 187, 0.1);
    border-radius: 12px;
}

.women_card_link {
    text-decoration: none;
    color: inherit;
    display: block;
    /* Make the link block-level to contain the card */
    height: 100%;
}

h1 {
    text-align: center;
}

.image {
    height: 260px;
    width: 100%;
    border-radius: 5px;
    /* border: 1px solid green; */
    margin: auto;
}

.card_price {
    display: flex;
    font-weight: 600;
    gap: 10px;
}

.card_info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card_title {
    opacity: 0.7;
}