.new_prod {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.new_cards {
    margin-top: 20px;
    /* height: auto; */
    width: auto;
    border: 1px solid rgb(22, 22, 22, 0.1);
    padding: 15px;
    border-radius: 15px;
}

.pic_container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}


/* .new_pic {
    height: 200px;
    border: 1px solid rgb(202, 142, 142);
    margin-bottom: 15px;
} */

.new_pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.9s ease;
    background-size: cover;
    background-position: center;
}

.image1 {
    opacity: 1;
    z-index: 1;
}

.image2 {
    opacity: 0;
    z-index: 0;
}

.pic_container:hover .image1 {
    opacity: 0;
}

.pic_container:hover .image2 {
    opacity: 1;
}

.new_product {
    color: red;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new_subtitle {
    opacity: 0.5;
}

.new_stars {
    color: gold;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.new_price {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.new_realprice {
    font-size: 1.2rem;
    font-weight: bold;
}

del {
    color: red;
    opacity: 0.55;
}

.new_hide_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 5px;
    z-index: 2;
    margin-left: 90px;
}

.pic_container:hover .new_hide_btn {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* color: rgb(241, 191, 199); */
    color: rgb(0, 0, 0, 0.5);
}

.hide_btn {
    height: 1.8rem;
    width: 1.8rem;
    background-color: rgba(255, 250, 251, 0.7);
    border-radius: 6px;
    border: none;
    color: #000;
}